body {
    font-family: 'Red Hat Display', sans-serif;
    background-color: #282F44;
    width: 100vw;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 60px;
    width: 70vw;
}

.content-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

#add-skill-btn,
#view-skills-btn,
#add-btn {
    font-size: 20px;
    font-family: 'Red Hat Display', sans-serif;
    align-self: flex-start;
    background-color: #161929b7;
    color: white;
    padding: 8px 24px;
    border: transparent;
    border-radius: 4px;
    cursor: pointer;
}

.content-title {
    font-size: 36px;
    color: white;
    font-weight: 600;
}

.skill-data {
    border-collapse: collapse;
}

.title-row {
    border-bottom: 1px solid gray;
}

#add-skill-form {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

#add-skill-form input {
    width: 20%;
    padding: 12px 0 12px 12px;
    border-radius: 4px;
    border: transparent;
    background-color: #161929b7;
    color: gray;
    font-size: 16px;
}

.title-row th {
    color: white;
    width: 33.3%;
    padding: 12px 0 12px 12px;
    font-size: 18px;
    font-weight: 500;
    text-align: left;
}

td {
    color: white;
    width: 33.3%;
    padding: 16px 0 16px 12px;
    font-size: 16px;
    text-align: left;
}

.delete-btn {
    background-color: transparent;
    border: none;
    font-size: 18px;
    padding: 16px 0 16px 12px;
    color: rgb(21, 150, 224);
    cursor: pointer;
}

tr:hover:not(:first-child) {
    background-color: #212636;
}